redirects: on

source https://www.nuget.org/api/v2/
framework >= net40

nuget FSharp.Core ~> 3.1.2.5
nuget FAKE
nuget FSharp.Control.Reactive 3.4.1
nuget FsUnit framework: >= net45
nuget NUnit.Runners